<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <h1>Home page</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

</body>

</html>