<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search page</title>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <h1>Search</h1>
            <p><%= keyword %></p>
        </div>
    </main>

</body>

</html>